
body , html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(images/8799192.jpg) center / cover no-repeat fixed;
}
a {
  text-decoration: none;
  color: #000;
}

header {
  height: 63px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.45vw;
  padding-bottom: 1.5vw; 
  /* background-color: #d1fff9; */
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}
.nav1 {
  display: flex;
  flex-direction: row;
  font-size: 1.65vw;

}
header img {
  height: 4vw;
  width: 4vw;;
  margin-top: 0.8vw;
  margin-left: 1vw;
  cursor: pointer;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0vw 2vw;
}
.btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  padding: 1vw 1.1vw;
  background: #fff;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.05);
  border: none;
  cursor: pointer;
  margin-left: 1vw;
  background-color:#000;
}
.btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 20px #ffd700;
  transform: scale(1.05);
  transition: 0.3sec;
}
.button {
  background: none;
  font-size: 2.3vw;
  margin-top: 1vw;
  border: none;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
  transition: color 0.3s ease;
}
.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}

.button:hover {
  color: #ffd700; /* text color change */
}

.button:hover::after {
  width: 100%;
}
button {
  -webkit-tap-highlight-color: transparent; 
  outline: none;
}

button:focus, button:active {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.25); /* soft shadow glow */
  border-radius: 5px;
}

#contactcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 7vw;
}

.contact {
  padding: 3vw;
  padding-top: 1vw;
  width: 52%;
  font-family: 'Inter', sans-serif; 
  border-radius: 13px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  font-size: 2vw;
  
}
.contHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12rem;
  justify-content: space-around;
}
.contactcardText {
  padding-top: 8px;
  padding-left: 8px;
}


@media  (max-width : 1240px) { 

  header {
    padding: 1vw;
    height: 83px;
    font-size: 2vw;
    gap: 1rem;
  }
  .button {
    font-size: 3vw;
  }
  header img {
    height: 6vw;
    width: 6vw;
  }
  .contact {
    width: 70%;
    font-size: 2.5vw;
  }
}


@media  (max-width : 960px) { 
  header {
    padding: 1vw;
    height: 69px;
    font-size: 2.5vw;
    gap: 1rem;
  }
  header img {
    margin-bottom: 1vw;
    margin-top: 0vw;
  }

  .nav {
    gap: 2vw;
    padding: 2vw;
 }

  .button {
    font-size: 4vw;
    margin-top: 0vw;
  }
  .contact {
    width: 80%;
    font-size: 2.6vw;
  }
  .btn {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    padding: 1vw 2.1vw;
  }  
}


@media  (max-width : 650px) { 

  header {
    padding: 2vw;
    height: 90px;
    gap: 2rem;
  }
  .button{
    gap: 5vw;
    padding-right: 5vw;
     font-size: 3.5vw;
  }
  header img {
    height: 11vw;
    width: 11vw;
    padding: 1vh;

  }
  .contact {
    width: 90%;
    font-size: 3vw;
  }
  .btn {
    display: inline-block;
    margin-top: 12px;
    font-size: 13px;
    padding: 2vw 2.1vw;
  }
} 

@media (max-width : 515px) {
  header {
     height: 64px;
  }
  header img {
    padding: 0vh;
  }

  .nav {
    gap: 0vw;
  }
 .button {
  padding-right: 4vw;
  font-size: 5vw;
    margin-top: 2vw;
  }
.contact {
  width: 92%;
  font-size: 5vw;
  }
  .btn {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    padding: 3vw 3.1vw;
}
}

@media (min-height: 500px) {
    .about-card {
        height: 51vw;
        margin-top: 30vw;
    }
}