
body , html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(images/8799192.jpg) center / cover no-repeat fixed;
}

/* ...Contact page... */

#contactcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 7vw;
}

.contact {
  padding: 3vw;
  padding-top: 1vw;
  width: 52%;
  font-family: 'Inter', sans-serif; 
  border-radius: 13px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  font-size: 2vw;
  
}
.contHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12rem;
  justify-content: space-around;
}
.contactcardText {
  padding-top: 8px;
  padding-left: 8px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  padding: 1vw 1.1vw;
  background: #fff;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.05);
  border: none;
  cursor: pointer;
  margin-left: 1vw;
  background-color:#000;
}
.btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 20px #ffd700;
  transform: scale(1.05);
  transition: 0.3sec;
}



@media  (max-width : 1240px) { 
  .contact {
    width: 70%;
    font-size: 2.5vw;
  }
}


@media  (max-width : 960px) { 
  .contact {
    width: 80%;
    font-size: 2.6vw;
  }
  .btn {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    padding: 1vw 2.1vw;
  }  
}


@media  (max-width : 650px) { 
  .contact {
    width: 90%;
    font-size: 3vw;
  }
  .btn {
    display: inline-block;
    margin-top: 12px;
    font-size: 13px;
    padding: 2vw 2.1vw;
  }
} 

@media (max-width : 515px) {
.contact {
  width: 92%;
  font-size: 5vw;
  }
  .btn {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    padding: 3vw 3.1vw;
}
}

@media (min-height: 500px) {
    .about-card {
        height: 51vw;
        margin-top: 30vw;
    }
}