body , html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(images/8799192.jpg) center / cover no-repeat fixed;
}
a {
  text-decoration: none;
    color: #000;

}
#page1 {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding-top: 4em;
  
}
.left {
  width: 50%;
  padding: 1rem;
  padding-left : 7rem;
}
.left h1 {
  /* font-size: 5.5rem; */
   font-size: 5.5vw;
  margin: 0%;
}
.left p {
  font-family: 'Inter', sans-serif; 
  padding-left: 0.7em;
  padding-bottom: 0.8em;
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  margin: 0px;
  margin-top: 1rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn {
  display: inline-block;
  /* margin-left: 10rem; */
  font-size: 0.9375rem;     
  padding: 1vw 1.1vw;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #222;
}

.btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 20px #ffd700;
  transform: scale(1.05);
  transition: 0.3sec;
}

.right {
  width: 50%;
  padding: 1rem;
  padding-right: 4rem;
}

.right img {
  max-width: 100%;
  height: auto;
  display: block;
}





@media (max-width: 1024px) {
  #page1 {
    gap : 0px;
  }
  .left {
    padding-left: 3rem;
    width: 59%;
  }
  .left h1 {
    font-size: 6.8vw;
}
.left p{
  padding-left: 0.2em;
}
.right {
  width: 39%;
  padding: 0rem;
  padding-right: 2rem;

}
}

@media (max-width: 860px) {
  .right {
   width: 35%;
  }
  .left h1 {
    font-size: 5.8vw;
  }
  .btn {
    font-size: 1.7vw;
  }
}


@media (max-width: 685px) and
  (min-height: 700px){
     #page1 {
    display: block;
  }
  .btn {
  font-size: 2vw;
  padding: 1vw 1.5vw;
}
.left {
  padding: 0rem;
  height: auto;
  width: 100%;
 }
 .left h1 {
  font-size: 9vw;
  padding:4vw;
  padding-top: 0vw;
 }
 .left p {
  font-size: 4vw;
  margin-top: -3%;
  margin-bottom: 0%;
  padding-left: 6%;
  
 }
.btn {
  margin-left: 5%;
  font-size: 3vw;
  padding: 3vw 4vw;
  margin-bottom: 5%;
  }
  .right {
    width: 93%;
  }
}

@media (max-width: 520px) {
    #page1 {
    display: block;
  }
.btn {
  font-size: 2vw;
  padding: 1vw 1.5vw;
}
.left {
  padding: 0rem;
  height: auto;
  width: 100%;
 }
 .left h1 {
  font-size: 11vw;
  padding:4vw;
  padding-top: 0vw;
 }
 .left p {
  font-size: 5vw;
  margin-top: -3%;
  margin-bottom: 0%;
  padding-left: 6%;
  
 }
.btn {
  margin-left: 6%;
  font-size: 4.5vw;
  padding: 3vw 4vw;
  margin-bottom: 5%;
  }
  .right {
    width: 100%;
  }
}


