body , html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(images/8799192.jpg) center / cover no-repeat fixed;
}
a {
  text-decoration: none;
    color: #000;

}

header {
  height: 63px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.45vw;
  padding-bottom: 1.5vw; 
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  
  
}
.nav1 {
  display: flex;
  flex-direction: row;
  font-size: 1.65vw;

}
header img {
  height: 4vw;
  width: 4vw;;
  margin-top: 0.8vw;
  margin-left: 1vw;
  cursor: pointer;

}
.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0vw 2vw;
}
.button {
  background: none;
  font-size: 2.3vw;
  margin-top: 1vw;
  border: none;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
  transition: color 0.3s ease;
}
button {
  -webkit-tap-highlight-color: transparent; 
  outline: none;
}

button:focus, button:active {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.25); /* soft shadow glow */
  border-radius: 5px;
}
.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}

.button:hover {
  color: #ffd700; /* text color change */
}

.button:hover::after {
  width: 100%;
}
#page1 {
  height: calc(100% - 89px);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.left {
  /* background-color: white; */
  height: 100%;
  width: 50%;
}
.left h1 {
  font-size: 5.5vw;
  padding-top: 5.3vw;
  padding-left: 9.5vw;
  margin-bottom: 0px; 
 
}
.left p {
  font-family: 'Inter', sans-serif; 
  padding-left: 10.5vw;
  padding-bottom: 1vw;
  font-size: 2vw;
  margin: 0px;
 text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  padding: 1vw 1.1vw;
  background: #fff;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.05);
  border: none;
  cursor: pointer;
  margin-left: 10vw;
  background-color:#000;
}
.btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 20px #ffd700;
  transform: scale(1.05);
  transition: 0.3sec;
}
.right {
  /* background-color: rgb(255, 255, 255); */
  height: 30vw;
  width: 38vw;
  margin-bottom: 20vh;
  background-image: url(images/Business20man20working-284998.png);
  background-size: cover;
  margin-right: 7vw;
  padding-top:1vh ;
}













@media  (max-width : 1240px) { 

  header {
    padding: 1vw;
    height: 83px;
    font-size: 2vw;
    gap: 1rem;
  }
  .nav {
    gap: 4vw;
    padding: 1vw;
    padding-right: 3vw;
  }
  .button {
  font-size: 3vw;
  }
  header img {
    height: 6vw;
    width: 6vw;

  }
  #page1 {
    height: 85vh;
    width: 100%;
  }
  
}

@media  (max-width : 1110px) { 
    .right {
    margin-bottom: 1vh;
    padding-right: 5vw;
    }
    .right {
    height: 30vw;
    width: 33vw;
    }
    .btn {
      padding: 1vw 1.1vw;
      margin-bottom: 3vw;
    }
  }



@media  (max-width : 960px) { 
  header {
    padding: 1vw;
    height: 69px;
    font-size: 2.5vw;
    gap: 1rem;
  }
  header img {
    margin-top: -1vw;
  }
  .nav {
    gap: 1vw;
    padding: 2vw;
 }
  .button {
    font-size: 4vw;
    margin-top: 0vw;
  }
  #page1 {
    height: 88vh;
  }
   .left {
    padding-top: 27vw;
  }
 
 .left h1 {
  font-size: 6.6vw;
  padding-top: 5.3vw;
  padding-left: 3.5vw;
  margin-bottom: 0px;
}
.left p {
  padding-left: 4vw;
  font-size: 2.7vw;
}
.btn {
  padding: 1.5vw 1.4vw;
  margin-left: 4vw;
  margin-bottom: 3vw;
    }

}


@media  (max-width : 650px) { 

  header {
    padding: 2vw;
    height: 90px;
    gap: 2rem;
  }
  .button{
    gap: 5vw;
    padding-right: 5vw;
    font-size: 5.5vw;
    margin-top: 2vw;
    }
  
  header img {
    height: 11vw;
    width: 11vw;
    padding: 0vh;

  }
  #page1 {
    height: 90vh;
    width: 100%;
  }
  .left {
    width: 57vw;
  }
  .left h1 {
    font-size: 7.6vw;
    margin-right:0vw;
  }
  .left p {
    font-size: 3.4vw;
  }
  .right {
    height: 28vw;
    width: 35vw;
    margin-right: 2vw;
  }
  .btn {
    margin-top: 2.8vw;
    margin-left: 5vw;
  }
}

@media (max-width : 434px) {
  header {
     height: 64px;
  }
  
  .nav {
    gap: 0vw;
  }
  .button {
   padding-right: 4vw;
   font-size: 5vw;
 }
 #page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 
 .left {
   width: 82vw;
   height: 35%;
   padding-right: 33vw;
   margin-top: 14vw;
  }
 .left h1 {
  font-size: 9.53vw;
  padding-top : 0vw ;
  margin-left:  2.5vw;
  }
  .left p {
    font-size: 4.3vw;
    margin-left:2.7vw ;
  }
  .btn {
    padding: 3.5vw;
    margin-left:7vw ;
    
  }
 .right {
    height: 64vw;
    width: 78vw;
    margin-left: 3vw;
    margin-bottom: 39vw;
    }
 .btn {
  margin-top: 5vw;
 }
}