body , html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(images/8799192.jpg) center / cover no-repeat fixed;
}
a {
  text-decoration: none;
  color: #000;
}

header {
  height: 63px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.45vw;
  padding-bottom: 1.5vw; 
  /* background-color: #d1fff9; */
   backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  
}
.nav1 {
  display: flex;
  flex-direction: row;
  font-size: 1.65vw;

}
header img {
  height: 4vw;
  width: 4vw;;
  margin-top: 0.8vw;
  margin-left: 1vw;
  cursor: pointer;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0vw 2vw;
}
.button {
  background: none;
  font-size: 2.3vw;
  margin-top: 1vw;
  border: none;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
  transition: color 0.3s ease;

}
.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}

.button:hover {
  color: #ffd700; /* text color change */
}

.button:hover::after {
  width: 100%;
}

button {
  -webkit-tap-highlight-color: transparent; 
  outline: none;
}

button:focus, button:active {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.25); /* soft shadow glow */
  border-radius: 5px;
}


/* .......Third Page....... */

#about {
  height: calc(100% - 278px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 95px 20px;
}
.about-card {
  height: 520px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  max-width: 600px;
  color: #000000;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.about-card h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #000000;
  font-family: 'Inter', sans-serif; 
 
}
.skills li {
  font-size: 24px;
  font-family: 'Inter', sans-serif; 
  cursor: pointer;
  margin: 10px 0;
  transition: transform 0.3s, color 0.3s;
}
.skills li:hover {
  transform: scale(1.05);
  color: #fff200;
}
.para-abtcard {
  font-size: 17px;
  font-family: 'Inter', sans-serif; 
  
  
}


.btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  padding: 1vw 1.1vw;
  background: #fff;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.05);
  border: none;
  cursor: pointer;
  margin-left: 1vw;
  background-color:#000;
}
.btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 20px #ffd700;
  transform: scale(1.05);
  transition: 0.3sec;
}



@media  (max-width : 1240px) { 

  header {
    padding: 1vw;
    height: 83px;
    font-size: 2vw;
    gap: 1rem;
  }
   .nav {
    gap: 4vw;
    padding: 1vw;
    padding-right: 3vw;
  }
  .button {
  font-size: 3vw;
  }
  header img {
    height: 6vw;
    width: 6vw;

  }
}


@media  (max-width : 1110px) { 
  .about-card {
    height: 100%;
    margin-top: 1vh;
  }
}


@media  (max-width : 960px) { 
  header {
    padding: 1vw;
    height: 69px;
    font-size: 2.5vw;
    gap: 1rem;
  }
  header img {
    margin-top: 2vw;
  }
  .nav {
    padding-right: 5vw;
  }
  .about-card {
        height: 90%;
        margin-top: 15vw;
    }
 
}



@media (max-width : 960px) {
    header {
    padding: 1vw;
    height: 69px;
    font-size: 2.5vw;
    gap: 1rem;
  }
  header img {
    margin-top: -1vw;
  }
  .nav {
    gap: 1vw;
    padding: 2vw;
 }
  .button {
    font-size: 4vw;
    margin-top: 0vw;
  }
  .para-abtcard {
    font-size: 23px;
  }
  .skills li {
    font-size: 27px;
  }
  .about-card h2 {
    font-size: 5.4vw;
  }
}



@media  (max-width : 650px) { 

  header {
    padding: 2vw;
    height: 90px;
    gap: 2rem;
  }
  .button{
    gap: 5vw;
    padding-right: 5vw;
    font-size: 5.5vw;
    margin-top: 2vw;
    }
  
  header img {
    height: 11vw;
    width: 11vw;
    padding: 0vh;

  }
  .about-card {
    height: 80%;
    margin-top: 0vh;
    padding-bottom: 23vw;

  }
}


@media (max-width : 515px) {
  header {
     height: 64px;
  }
  .nav {
    gap: 0vw;
  }
  .button {
   padding-right: 4vw;
   font-size: 5vw;
  } 


  .btn {
    font-size: 16px;
    padding: 2vw 3vw;
    padding-left: 4vw;
  }
  .about-card {
    height: 99%;
    padding-left: 22px;
    padding-right: 14px;
    padding-bottom: 133px;
  }
}

@media (max-height : 548px) {
  .about-card {
    margin-top: 32vw;
    height: 47vw;
  }
  
}