body , html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(images/8799192.jpg) center / cover no-repeat fixed;
}
a {
  text-decoration: none;
  color: #000;
}

/* .......Third Page....... */

#about {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6vw;
}
.about-card {
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  max-width: 600px;
  color: #000000;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.about-card h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #000000;
  font-family: 'Inter', sans-serif; 
 
}
.skills li {
  font-size: 24px;
  font-family: 'Inter', sans-serif; 
  cursor: pointer;
  margin: 10px 0;
  transition: transform 0.3s, color 0.3s;
}
.skills li:hover {
  transform: scale(1.05);
  color: #fff200;
}
.para-abtcard {
  font-size: 17px;
  font-family: 'Inter', sans-serif; 
  
  
}


.btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  padding: 1vw 1.1vw;
  background: #fff;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.05);
  border: none;
  cursor: pointer;
  margin-left: 1vw;
  background-color:#000;
}
.btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 20px #ffd700;
  transform: scale(1.05);
  transition: 0.3sec;
}


@media (max-width :960px){
.btn {
font-size: 18px;
padding: 2vw 3vw;

}
}
