body , html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(images/8799192.jpg) center / cover no-repeat fixed;
}
/* ...Second page - skills and projects... */

a {
  text-decoration: none;
  color: #000;
}
#page-2 {
  height: calc(100% - 172px );
  width: 100%;
  margin: 0px;
  padding-top: 85px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.box1 {
  height: 420px;
  width: 430px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: #000000;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  
}
.Text {
  font-size: 2rem;
  font-family: 'Inter', sans-serif; 
  padding-left: 20px;
  
}
.skillImage {
  margin-left: 39px;
  margin-top: 39px;
  height: 136px;
  width: 349px;
  background-image: url(images/150-1506141_javascript-logo-png.png);
  background-size: contain;
}
.box1Text {
  padding-left: 12px;
  padding-right: 6px;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif; 
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.skillimagename {
  padding-left: 57px;
  padding-right: 27px;
  gap: 3.4rem;
  font-family: 'Inter', sans-serif; 
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

}
.skillText {
  display: none;
}
.box1 ,.box2 {
  height: 420px;
  width: 430px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: #000000;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  padding: 1em;
}
.projectbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0px;
}
.pianoProject {
  height: 6vw;
  width: 6vw;
  background-image: url(images/piano.png);
  background-size: cover;
  padding: 11px;
  margin-left: 62px;
}
.cafeproject {
  height: 6vw;
  width: 6vw;
  background-image: url(images/[CITYPNG.COM]Brown\ Coffee\ Cup\ Logo\ Design\ HD\ PNG\ -\ 4000x4000.png);
  background-size: cover;
  padding: 10px;
  margin-left: 41px;
} 
.projecttext {
  font-size: 1.2vw;
  font-family: 'Inter', sans-serif; 
  padding-left: 71px;
  padding-top: 7px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.projectcafetext {
   font-size: 1.2vw;
  font-family: 'Inter', sans-serif; 
  padding-left: 38px;
  padding-top: 15px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.projecLTStext {
  font-size: 1.2vw;
  font-family: 'Inter', sans-serif; 
  padding-left: 79px;
  padding-top: 11px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.buttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6vw;
  align-items: center;
}
.btn {
   font-family: 'Inter', sans-serif; 
  display: inline-block;
  margin-top: 14px;
  font-size: 15px;
  padding: 1vw 2vw;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.05);
  border: none;
  cursor: pointer;
  margin-left: -2vw;
  background-color:#000;
}
.btn:hover {
  background: #ffd700;
  color: #000;
  box-shadow: 0 0 20px #ffd700;
  transform: scale(1.05);
  transition: 0.3sec;
}


/* for responsive website... */

@media  (max-width : 1200px) { 
    .pianoProject , .LTSProject , .cafeproject{
    height : 8vw ;
    width : 8vw ;
    margin-left: 4vw;
  }
.projecttext , .projecLTStext , .projectcafetext {
  font-size: 1.7vw;
  padding-left: 4vw;
}
  
}

@media(max-width :1110px) {
  .pianoProject , .LTSProject , .cafeproject{
    height : 9vw ;
    width : 9vw ;
  }
.projecttext , .projecLTStext , .projectcafetext {
  font-size: 2vw;
}
}

@media  (max-width : 960px) { 
#page-2 {
  padding-top: 13vw;
  margin-top: 3vw;
}
.buttn {
  gap: 11vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.btn {
  padding: 2vw;
  font-size: 20px;
  margin-bottom: 5vh;
}
 .pianoProject , .LTSProject , .cafeProject{
    height : 11vw ;
    width : 11vw ;
  }
  .cafeProject {
    margin-left: 4vw;
  }
  
}

@media  (max-width : 650px) { 
  .btn {
    padding: 1vw;
    font-size: 20px;
    margin-bottom: 5vh;
  }
  .pianoProject, .LTSProject, .cafeProject {
    height: 16vw;
    width: 16vw;
    margin-left: 6vw;
    }
    .projecttext , .projecLTStext , .projectcafetext {
  font-size: 3.5vw;
}
.cafeProject {
   margin-left: 10vw;
}
 .projectcafetext {
  margin-left: 5vw;
}
   
  

}

@media (max-width : 576px) {
 #page-2 {
    min-height: 100vh;
    margin: 6vw;
    width: 88%;
}
.box1, .box2 {
  
  height: auto;
  width: auto;

}

.skillImage {
    display: none;
}
.skillimagename {
    display: none;
}
.skillText {
  display: block;
}
.skillText li {
  font-size: 24px;
  font-family: 'Inter', sans-serif; 
  cursor: pointer;
  margin: 10px 0;
  transition: transform 0.3s, color 0.3s;
}
.skillText li:hover {
  transform: scale(1.05);
  color: #faea05;
}
.box1 {
  height: auto;
  margin-top: 11vw;
}
.box1Text {
    padding-left: 25px;
    padding-right: 12px;
}
.btn {
  padding: 3vw;
  font-size: 20px;
  margin-bottom: 5vh;
}
.projectbox {
  gap: 0rem;
}

.box2 {
  height: auto;
}
.pianoProject, .LTSProject, .cafeProject {
    height: 26vw;
    width: 26vw;
    margin-left: 7vw;
}
    .projecttext, .projecLTStext, .projectcafetext {
        font-size: 4.7vw;
        padding-left: 7vw;
    }
}

@media (max-width : 370px) {
  .box {
    gap:1rem;
  }
  .box1 {
    height: auto;
  }
  
  .box2 {
    height: auto;
  }
  
}
